:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #ef4c6b;
}


* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color);
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #ef4c6ae6;
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.025rem;
  width: 100%;
  font-size: 3em;
  line-height: 1.25;
  font-weight: 900;
}

p {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.025rem;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 25px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.active {
  color: var(--primary-color);
}

.btn-icon {
  background-color: #d43250;
  width: 15px;
  height: 15px;
  padding: 6px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btnWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  p {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.025rem;
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 25px;
  }

  h1 {
    font-size: 2.5em;
  }


  h3 {
    font-size: 2em;
  }
}